mat-toolbar {
    background: #ccc;
    margin-bottom: 5px;
}


form {
    margin-top: 20px;
    padding: 10px;
}



.img-container {
    object-fit: contain;
    height: 300px;
    width: 100%;
    margin-bottom: 50px;

}

.img-container img {
    width: 100%;
    max-height: 330px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input {
    background-color: #DDD;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 78px;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    margin-bottom: 10px;
    width: 50%;
}

#submit-button {
    background: #ccc;
    color: black;
    width: 100%;
}

#file-p {
    display: flex;
    justify-content: center;
}
